.footer {
  background-color: #323232;
  color: #d9d9d9;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding: 20px 8vw;
  padding-top: 80px;
}
.footer-content {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 80px;
}

.footer-center-left,
.footer-center-center,
.footer-center-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.footer-center-left {
  width: 45%;
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;

  margin-bottom: 20px;
}
.footer-center-left .footer-social-icon {
  align-items: center;
  display: flex;
}
.footer-copyright {
  align-items: center;
  margin-top: 3vh;
}
.footer-center-center {
  display: flex;
}
.footer-center-center li {
  align-items: start;
  list-style: none;
  row-gap: 20px;
}
