.explore-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.explore-menu h1 {
  color: #262626;
  font-weight: 500;
  animation: fadeIn 3s;
}
.explore-menu-text {
  max-width: 60%;
  columns: #808080;
  animation: fadeIn 3s;
}

.explore-menu-list {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 20px 0px;
  text-align: center;
  overflow-x: scroll;
}
.explore-menu-list::-webkit-scrollbar {
  display: none;
}
.explore-menu-list-item img {
  width: 7.5vw;
  min-width: 80px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0, 2s;
}
.explore-menu-list-item p {
  margin-top: 10px;
  color: #747474;
  font-size: max(1.4vw, 16px);
  cursor: pointer;
}
.explore-menu hr {
  margin: 10px;
  height: 2px;
  background-color: #e2e2e2;
  border: none;
}
.explore-menu-list .active {
  border: 4px solid tomato;
  padding: 2px;
}

@media (max-width: 700px) {
  .explore-menu h1 {
    color: #262626;
    font-weight: 450;
    font-size: 30px;
  }
  .explore-menu-text {
    max-width: 85%;
    columns: #808080;
  }
  .explore-menu hr {
    margin: 2px;
  }
  .explore-menu-list {
    gap: 10px;
    margin: 0px;
  }
  .explore-menu-list-item img {
    width: 5.5vw;
    min-width: 60px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0, 2s;
  }
}
