.navbar {
  padding: 20px 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.navbar .logo {
  width: 150px;
}
.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
}
.navbar-menu li {
  cursor: pointer;
}
.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.navbar button {
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid tomato;
  border-radius: 5px;
  padding: 10px 30px;
  cursor: pointer;
  transition: 0.3s;
}
.navbar button:hover {
  background-color: #fff4f2;
}
.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #49557e;
}

.navbar-serch-icon {
  position: relative;
}

.navbar-serch-icon .dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: tomato;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}
