.navbar {
  height: 5vh;
  padding: 2.1vw 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.navbar .logo {
  width: 150px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
}

.navbar-menu li {
  cursor: pointer;
}

.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.navbar button {
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid tomato;
  border-radius: 5px;
  padding: 10px 30px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar button:hover {
  background-color: #fff4f2;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #49557e;
}

.navbar-serch-icon {
  position: relative;
}

.navbar-serch-icon .dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: tomato;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 1050px) {
  .navbar .logo {
    width: 140px;
  }

  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }

  .navbar-right {
    gap: 30px;
  }
  .navbar-right img {
    width: 22px;
  }
  .navbar-right button {
    padding: 8px 25px;
  }
}

@media only screen and (max-width: 900px) {
  .navbar .logo {
    width: 140px;
  }

  .navbar-menu {
    gap: 15px;
    font-size: 14px;
  }

  .navbar-right {
    gap: 20px;
  }
  .navbar-right img {
    width: 20px;
  }
  .navbar-right button {
    padding: 6px;
    font-size: 1.5vh;
  }
}
@media only screen and (max-width: 700px) {
  .navbar-menu {
    display: none;
  }
  .navbar {
    margin: 7px;
  }
}
