/* LoginPopup.css */

.login-popup {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: grid;
  background-color: #00000090;
}

.login-popup-container {
  position: fixed;
  place-self: center;
  max-width: 350px;
  color: #808080;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 14px;
  animation: fadeIn 0.7s;
}

.login-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  margin-bottom: 20px;
}
.login-popup-title img {
  cursor: pointer;
  width: 16px;
}

.login-popup-title h2 {
  margin: 0;
}

.login-popup-input input {
  outline: none;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
}

.login-popup-condition {
  margin-top: -10px;
  align-items: start;
  gap: 8px;
  display: flex;
  align-items: center;
}

.login-popup-condition input {
  margin-top: 10px;
}

.login-popup-condition p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.login-popup-condition p a {
  color: #007bff;
  text-decoration: none;
}

.login-popup-condition p a:hover {
  text-decoration: underline;
}

button {
  border: non;
  width: 100%;
  padding: 10px;
  background-color: tomato;
  color: #fff;
  border: none;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
}

span {
  color: tomato;
  font-weight: 500;
  cursor: pointer;
}
